<form action='/post/new' method='get'><input type='submit' value='New Post'></form>
<h3>All Posts</h3>
<% @posts.each do |post| %>
  <p><a href='/post/<%=post.id%>'><%= post.title %></a></p>
<% end %>

