<form action='/post/new' method='get'><input class='btn new' type='submit' value='New Post'></form>
<h3>All Posts</h3>
<ul>
<% @posts.each do |post| %>
  <li><a href='/post/<%=post.id%>'><%= post.title %></a><br>
    <p><%=post.snippet%>...</p>
  </li>
<% end %>
</ul>

