<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class='container'>
    <header>
      <h1>Not Anonymous Blog</h1>
      <div class='session'>
        <% if logged_in? %>
          <span>Logged in as <a class='user' href="/users/<%=current_user.id%>/posts"><%=current_user.name%></a></span>
          <form action='/logout' method='post'><input class='btn user' type='submit' value='Logout'></form>
        <% else %>
          <form action='/login' method='get'><input class='btn user' type='submit' value='Login or Create Account'></form>
        <% end %>
      </div>
    </header>
    <nav>
      <a href='/'>Home<a>
    </nav>
    <div class='content'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
